body{
    color:purple;
    background:lavender;
    margin: 0px;
    font-family: "Playwrite DE Grund", cursive;
    margin-bottom: 50px;
}

header{
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size:20px;
    color: pink 
}

.chamada{
    background: lavenderblush;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 20px;
}
img{
    height: 150px;
}
.categoria-quiz{
    display: flex;
    overflow-x:auto;
    gap: 10px;
}
section.categoria{
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-quiz img{
    opacity: 0.5;
}
.categoria-quiz img:hover{
    opacity: 1.0;
    border: 3px solid purple;
}